# Rust
/target

# Frontend build
/dist-client
/dist-admin

# Dependencies
node_modules
client/node_modules
admin/node_modules

# Env and logs
.env
.env.local
.env.*.local
*.log

# Optional
.DS_Store

# User Data
userData